header{
    height: 50vh;
}

.experience{
    margin: 100px;

    div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-transform: capitalize;
    }
    h2{
        margin: 50px 0 50px;
    }
}

.services{
    text-transform: capitalize;

    ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: capitalize;
    }
    img{
        width: 50px;
        margin: 0 10px 0 0;
    }
    li{
        display: flex;
        list-style: none;
        margin: 30px;
    }
}

.contact{
    margin-bottom: 100px;
    form{
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 40%;
    }
    input,
    textarea,
    button{
        margin-top: 5px;
    }
    h3{
        font-size: 2.1rem;
    }

    #formServices{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.wrapper{
    max-width: 1580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

// *{
//     border: red solid 2px;
// }