header{
    background-color: #D3FFEB;
    li{
        list-style: none;
        text-transform: capitalize;
        color: black;
        margin: 0 20px 0 0;
    }
    ul{
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
    a{
        font-size: 1.3rem;
    }
    video{
        height: 80vh;
        width: 100vw;
        object-fit: cover;
    }
    h1{
        position: absolute;
        top: 30%;
        color: white;
        font-size: 3rem;
    }
}

.experience{
    margin: 100px;

    div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-transform: capitalize;
    }
    h2{
        margin: 50px 0 50px;
    }
}

.services{
    text-transform: capitalize;

    ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: capitalize;
    }
    img{
        width: 50px;
        margin: 0 10px 0 0;
    }
    li{
        display: flex;
        list-style: none;
        margin: 30px;
    }
}

.contact{
    margin-bottom: 100px;
    form{
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 40%;
    }
    input,
    textarea,
    button{
        margin-top: 5px;
    }
    h3{
        font-size: 2.1rem;
    }

    #formServices{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.wrapper{
    max-width: 1580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

// *{
//     border: red solid 2px;
// }